h1{
    font-family: Arial;
    font-size: 2em;
    color: white;
    margin-left: 15%;
    line-height: 50px;
}
j{
    font-family: Arial;
    color:white;
    font-size: 1.25em;
    margin-left: 12.5px;
    line-height: 28px;
    cursor: default;
}
t{
    font-family: Arial;
    color:white;
    font-size: 1.25em;
    margin-left: 12.5px;
    line-height: 28px;
    cursor: default;
}
#re1{
    width: 85px;
    height: 30px;
    background-color: yellow;
    background-image: url(./assets/Rectangle\ 13.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
    border-radius: 12px;
}
#re2{
    width: 85px;
    height: 30px;
    background-color: yellow;
    background-image: url(./assets/Rectangle\ 13.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: -30px;
    border-radius: 12px;
}
#re1:hover{
    background-image: url(./assets/Rectangle\ 16.png);
    background-size: contain;
    background-repeat: no-repeat;
    color:black;
}
#re2:hover{
    background-image: url(./assets/Rectangle\ 16.png);
    background-size: contain;
    background-repeat: no-repeat;
    color:black;
}
#IggDrasil{
    height: 55px;
    width: 360px;
    background-color: rgb(228, 150, 32);
    border-radius: 0px 0px 10px 10px;
}
#logo{
    margin-left: 130px;
    margin-top: -40px;
}
#home{
    height: 640px;
    width: 360px;
    background-color:rgb(41, 36, 36);
    border-radius: 5px;
}