h1{
    font-family: Arial;
    font-size: 2em;
    color: white;
    margin-left: 15%;
    line-height: 50px;
}
j{
    font-family: Arial;
    color:white;
    font-size: 1.25em;
    margin-left: 12.5px;
    line-height: 28px;
    cursor: default;
}
t{
    font-family: Arial;
    color:white;
    font-size: 1.25em;
    margin-left: 12.5px;
    line-height: 28px;
    cursor: default;
}
c{
    font-family: Arial;
    color:white;
    font-size: 1.25em;
    margin-left: 8px;
    line-height: 28px;
    cursor: default;
}
ret{
    font-family: Arial;
    color:white;
    font-size: 1.25em;
    margin-left: 12.5px;
    line-height: 30px;
    cursor: default;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    cursor: default;
}
#re1{
    width: 85px;
    height: 30px;
    background-image: url(./assets/Rectangle\ 13.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
    border-radius: 12px;
}
#re2{
    width: 85px;
    height: 30px;
    background-image: url(./assets/Rectangle\ 24.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: -30px;
    border-radius: 12px;
}
#re3{
    width: 85px;
    height: 30px;
    background-image: url(./assets/Rectangle\ 19.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 135px;
    margin-top: 10px;
    border-radius: 12px;
}
#re1:hover{
    background-image: url(./assets/Rectangle\ 20.png);
    background-size: contain;
    background-repeat: no-repeat;
    color:black;
}
#re2:hover{
    background-image: url(./assets/Rectangle\ 23.png);
    background-size: contain;
    background-repeat: no-repeat;
    color:black;
}
#re3:hover{
    background-image: url(./assets/Rectangle\ 17.png);
    background-size: contain;
    background-repeat: no-repeat;
    color:black;
}
#IggDrasil{
    height: 55px;
    width: 360px;
    background-color: rgb(228, 150, 32);
    border-radius: 0px 0px 10px 10px;
}
#logo{
    margin-left: 130px;
    margin-top: -40px;
}
#logodn{
    margin-left: 150px;
    margin-top: -14px;
}
#logotn{
    margin-top: -14px;
}
#home{
    height: 640px;
    width: 360px;
    background-color:rgb(225, 0, 255);
    border-radius: 5px;
}
#chat{
    width: 184px;
    height: 232px;
    background-image: url(./assets/smiling-cat-creepy-cat.gif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 93px;
    margin-top: 50px;
}
#mario{
    width: 360px;
    height: 202.5px;
    background-image: url(./assets/non-mario.gif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.a{
    color: white;
    margin-top: 150px;
}


/*Classe IggDrasil*/


#logoc{
    margin-left: 155px;
    margin-top: 0px;
}
#guerrier{
    width: 100px;
    height: 100px;
    background-image: url(./assets/Plan_de_travail_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-left: 25px;
}
#descriptionguerrier{
    width: 949px;
    height: 629px;
    background-image: url(./assets/Gurrier.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -500px;
    margin-top: -50px;
}
#assassin{
    width: 101px;
    height: 100px;
    background-image: url(./assets/Fichier_9.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-left: 234px;
    margin-top: -100px;
}
#descriptionassassin{
    width: 949px;
    height: 629px;
    background-image: url(./assets/Assassin.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -500px;
    margin-top: -50px;
}
#archer{
    width: 100px;
    height: 100px;
    background-image: url(./assets/Fichier_10.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-left: 25px;
    margin-top: 25px;
}
#descriptionarcher{
    width: 949px;
    height: 629px;
    background-image: url(./assets/Archer.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -500px;
    margin-top: -50px;
}
#ingenieur{
    width: 100px;
    height: 100px;
    background-image: url(./assets/Ingenieur.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-top: -100px;
    margin-left: 234px;
}
#descriptioningenieur{
    width: 949px;
    height: 629px;
    background-image: url(./assets/Ingénieur.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -500px;
    margin-top: -50px;
}
#faucheur{
    width: 100px;
    height: 100px;
    background-image: url(./assets/Fichier_8.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-left: 25px;
    margin-top: 25px;
}
#descriptionfaucheur{
    width: 949px;
    height: 629px;
    background-image: url(./assets/Faucheur.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -500px;
    margin-top: -50px;
}
#samourai{
    width: 100px;
    height: 100px;
    background-image: url(./assets/Samourai.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-top: -100px;
    margin-left: 234px;
}
#benediction{
    width: 100px;
    height: 100px;
    background-image: url(./assets/Benediction.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-left: 25px;
    margin-top: 25px;
}
#cauchemar{
    width: 100px;
    height: 100px;
    background-image: url(./assets/Cauchemar.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 11px;
    margin-top: -100px;
    margin-left: 234px;
}



#retour{
    width: 85px;
    height: 30px;
    background-image: url(./assets/Rectangle\ 25.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-top: -120px;
    margin-left: 135px;
}
#retour:hover{
    background-image: url(./assets/Rectangle\ 26.png);
    background-size: contain;
    background-repeat: no-repeat;
    color:black;
}